.row {
    display: inline-block;
}

img {
    height: 300px;
    width: 300px;
    padding: 10px;
}

#descriptionDiv{
    height: 250px;
    width: 250px;
    padding: 20px;
    background-color: grey;
    color: white;
}

h1{
    text-align: center;
    padding: 20px;
}